// Colors
$body-bg-color: black;
$muted-text-color: rgb(151, 151, 151);
$text-color: white;

// Font
$font-main: 'Roboto Condensed';

// Font weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Button
$button-bg-color: white;
$button-text-color: black;