.sub1 {
  background: url("../images/bg1.webp");
}
.sub2 {
  background: url("../images/bg2.webp");
}
.sub3 {
  background: url("../images/bg3.webp");
}
.sub4 {
  background: url("../images/bg4.webp");
}
.sub5 {
  background: url("../images/bg5.webp");
}

.subsection {
    padding: 0;
    margin: 0;
  background-size: cover;
  height: 100vh;
  .subsection-content {
    color: $text-color;
    position: relative;
    top: 380px;
    h2 {
      width: 420px;
      font-size: 20px;
      font-weight: $font-light;
      margin-bottom: 5px;
    }
    h1 {
      width: 420px;
      margin: 5px 0 20px 0;
      font-size: 48px;
      line-height: 1;
    }
    .subsection-btn {
      font-size: 14px;
      background: transparent;
      color: $text-color;
      width: 160px;
      height: 50px;
      border: 2px solid white;
      display: grid;
      align-items: center;
      text-align: center;
      // background: linear-gradient(#FFF 0% 60%, #000 100%);

      &:hover {
        cursor: pointer;
        background-color: white;
        animate: btn-animate 1s 1;
        color: black;
      }
    }
  }
  .floating-scrolling-btn {
    position: absolute;
    left: 50%;
    top: 100%;
    animation: floating-scrolling-btn-animation 2s infinite;
  }
}

// Keyframes for button animation

@keyframes btn-animate {
  0% {
    background: white;
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
    background: black;
  }
}

@keyframes floating-scrolling-btn-animation {
  0% {
    opacity: 0;
    top: 100%;
  }
  20% {
    opacity: 1;
    top: 100%;
  }
  80% {
    opacity: 1;
    top: 110%;
  }
  100% {
    opacity: 0;
    top: 110%;
  }
}
